body {
	width: 100%;
  background-color: #DEEFF5;
}

header {
  margin-top: 20px;
}

table {
	width: 50%;
  margin-top: 0px;
	margin: auto;
	border-collapse: collapse;
  clear: both;
}

thead {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  font-size: 2.5em;
}

th {
  font-size: 1.3em;
  padding: 10px;
}

td {
  border: 5px solid black;
  width: 150px;
  height: 200px;
}

#redScore {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  font-weight: 700;
  color: red;
  width: 20%;
  text-align: center;
}

#blueScore {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  font-weight: 700;
  color: blue;
  width: 20%;
  text-align: left;
  float: right;
  clear: left;
}

#score {
  margin-top: 50px;
}

#buttonDiv {
	width: 20%;
	margin: auto;
}

#clickButton {
	width: 100%;
	margin: auto;
	background-color: yellow;
	visibility: hidden;
  padding: 15px;
  border-radius: 10px;
  border-color: black;
  font-size: 1em;
}

#box1 {
  border-top: none;
  border-left: none;
}

#box2 {
  border-top: none;
}

#box3 {
  border-top: none;
  border-right: none;
}

#box4 {
  border-left: none;
}

#box6 {
  border-right: none;
}

#box7 {
  border-left: none;
  border-bottom: none;
}

#box8 {
  border-bottom: none;
}

#box9 {
  border-bottom: none;
  border-right: none;
}
